head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name=`${locals.sitename[locals.lang]}` content="")
	meta(name=`${locals.sitename[locals.lang]}` content="")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")

	title= `${locals.sitename[locals.lang]}`

	link(rel="icon" type="image/ico" href="./images/favicons/fav.ico", sizes="16x16")
	link(href=`./styles/style${(locals.lang === "ar") ? '-rtl' : ''}.min.css` rel="stylesheet" type="text/css")

	// scripts
	script(src="./scripts/app.min.js" type="text/javascript")
	script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyAceZt91hCfdVh6oFAXQfNVRRdlXNJJgLs&libraries=places&language=${(direction === 'rtl') ? 'ar' : 'en'}` type="text/javascript")